body {
    font-family: Arial, sans-serif;
}
.quiz-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.question {
    margin-bottom: 20px;
}
.question h3 {
    margin-bottom: 10px;
}
.question label {
    display: block;
    margin-bottom: 5px;
}
.answer {
    display: none;
    margin-top: 10px;
    color: green;
}

.navbar {
    overflow: hidden;
    background-color: #130303;
    position: fixed; /* Make the navbar fixed at the top */
    top: 0;
    width: 100%;
    z-index: 1000; 
    
}
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}